<!DocType html>
<html>
	<head>
		<title>Placeholder</title>
		<link type='text/css' re='stylesheet' href='/stylesheets/main.css'>
		<script src='/js/jquery-1.11.2.min.js'></script>
	</head>
	<body>
		<input type='text' name='searchTerm' id='searchBox' value='five guys' />
		<input type='text' name='loc' id='locBox' value='cupertino' />
		<select id="allergyBox">
			<option value="peanut">Peanuts</option>
			<option value="shellfish">Shellfish</option>
			<option value="wheat">Wheat</option>
		</select>
		<br>
		<button>Submit</button>
		<br>
		<div id='printable'>

		</div>
		
	</body>
	<script src="/js/home.js"></script>
</html>
